* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Roboto', sans-serif;
	background: #fff;
	color: #363636;
	font-weight: 300;
	font-size: .9rem;
}
a, a:hover {
	color: #fff;
}
button, input, select, textarea {
	font-family: 'Roboto', sans-serif;
}
.button, .input {
	font-size: .9rem;
}
/*jarak*/
.pt0 {
	padding-top: 0 !important;
}
.pt03 {
	padding-top: .3rem;
}
.pt0h {
	padding-top: .5rem;
}
.pt1 {
	padding-top: 1rem;
}
.pt1h {
	padding-top: 1.5rem;
}
.pt2 {
	padding-top: 2rem;
}
.pt2h {
	padding-top: 2.5rem;
}
.pt3h {
	padding-top: 3.5rem;
}
.pt4 {
	padding-top: 4rem;
}
.pr0 {
	padding-right: 0 !important;
}
.pr1 {
	padding-right: 1rem;
}
.pr3 {
	padding-right: 3rem !important;
}
.pb0 {
	padding-bottom: 0 !important;
}
.pb0h {
	padding-bottom: .5rem;
}
.pb1 {
	padding-bottom:1rem;
}
.pb2 {
	padding-bottom:2rem;
}
.pb4 {
	padding-bottom:4rem;
}
.ptb2 {
	padding: 2rem 0;
}
.plpr2 {
	padding: 0 2rem;
}
.pl0 {
	padding-left: 0 !important;
}
.pl2 {
	padding-left: 2rem !important;
}
.pl2h {
	padding-left: 2.5rem;
}
.pl3 {
	padding-left: 3rem !important;
}
.pl4 {
	padding-left: 4rem !important;
}
.pr6 {
	padding-right: 6em;
}
.mt0 {
	margin-top: 0 !important;
}
.mt0h {
	margin-top: .5rem !important;
}
.mt1 {
	margin-top: 1rem !important;
}
.mt1h {
	margin-top: 1.5rem !important;
}
.mt2 {
	margin-top: 2rem;
}
.mt2-25 {
	margin-top: 2.25rem !important;
}
.mt2h {
	margin-top: 2.5rem !important;
}
.mt3 {
	margin-top: 3rem;
}
.mt3h {
	margin-top: 3.5rem;
}
.mt4 {
	margin-top: 4rem;
}
.mt4h {
	margin-top: 4.5rem;
}
.mt5 {
	margin-top: 5rem;
}
.mt6 {
	margin-top: 6rem;
}
.mb0 {
	margin-bottom: 0 !important;
}
.mb0h {
	margin-bottom: .5rem !important;
}
.mb-75 {
	margin-bottom: -.75rem !important;
}
.mb-1h {
	margin-bottom: -1.5rem !important;
}
.mb4 {
	margin-bottom: 4rem !important;
}
.mb3 {
	margin-bottom: 3rem !important;
}
.mb2 {
	margin-bottom: 2rem !important;
}
.mb1 {
	margin-bottom: 1rem !important;
}
.mb1h {
	margin-bottom: 1.5rem !important;
}
.mb-0h {
	margin-bottom: -.5rem !important;
}
.mb-1 {
	margin-bottom: -1rem !important;
}
.ml0 {
	margin-left: 0 !important;
}
.ml0-1 {
	margin-left: 0.1rem !important;
}
.ml0h {
	margin-left: .5rem !important;
}
.ml1 {
	margin-left: 1rem !important;
}
.ml3 {
	margin-left: 3rem !important;
}
.mr0 {
	margin-right: 0 !important;
}
.mr1 {
	margin-right: 1rem;
}
.mr2 {
	margin-right: 2rem;
}
.mr-nav {
	margin-right: 1.25rem !important;
}
.mr03 {
	margin-right: .3rem;
}
.mr0h {
	margin-right: 0.5rem !important;
}
.pl1 {
	padding-left: 1rem;
}
.pl0h {
	padding-left: .5rem;
}
.ml03 {
	margin-left: .3rem;
} 
.ml2 {
	margin-left: 2rem;
}
.clear-side {
	margin-left: 0 !important;
	margin-right: 0 !important
}
.no-margin {
	margin: 0 !important;
}
.no-padding {
	padding: 0 !important;
}
.pad-1 {
	padding: 1rem
}
.img-responsive {
	width: 100%
}
/*end jarak*/



/*global*/
.flex {
	display: flex;
}
.flex-end {
	justify-content: flex-end;
}
.grid {
	display: grid;
}
.block {
	display: block;
}
.none{
	display: none;
}
.hide-overflow {
	overflow: hidden;
}
.align-self {
	align-self: center;
}
.align-items {
	display: flex !important;
	align-items: center;
}
.vermid {
	vertical-align: middle !important;
}
.margin-auto {
	margin: 0 auto;
}
.fw100 {
	font-weight: 100 !important;
}
.fw200 {
	font-weight: 200 !important;
}
.fw300 {
	font-weight: 300 !important;
}
.fw400 {
	font-weight: 400 !important;
}
.fw500 {
	font-weight: 500 !important;
}
.fw600 {
	font-weight: 600 !important;
}
.relative {
	position: relative;
}
.j-center {
	justify-content: center;
}
.no-border {
	border: 0 !important;
}
.no-radius {
	border-radius: 0 !important;
}
.pointer {
	cursor: pointer;
}
.is-fullwidth {
	width: 100%;
}
.is-fullheight {
	height: 100vh;
}
.align-self {
	align-self: center;
}
.flex-justify-center {
	display: flex;
	justify-content: center;
}
.shadow-box {
	-webkit-box-shadow: 0px 5px 6px 1px rgba(0,0,0,0.16);
	-moz-box-shadow: 0px 5px 6px 1px rgba(0,0,0,0.16);
	box-shadow: 0px 5px 6px 1px rgba(0,0,0,0.16);
}
.shadow-bottom {
	-webkit-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.16);
	-moz-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.16);
	box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.16);
}
.small {
	font-size: .75rem;
}
.flex-end {
	display: flex;
	align-items: flex-end;
}
.is-back-grey {
	background: #F8F8F8;
}
.is-back-blue {
	background: #00AEEF;
}
.is-text-blue {
	color: #00AEEF;
}
.is-text-red {
	color: red;
}
.is-text-dark,.is-text-dark:hover {
	color: #363636;
}
.is-text-white,.is-text-white:hover {
	color: #fff;
}
.input:read-only {
	pointer-events: none;
	cursor: not-allowed;
	background: #fafafa;
}
.no-select {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}
.table-responsive {
	overflow-x: auto;
}
/*end global*/



/*home*/
.hero-head {
	z-index: 2;
}



.swiper-slide {
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.pag2 {
	width: 100%;
}
.swiper-pagination-bullet + .swiper-pagination-bullet {
	margin-left: 5px;
}
.no-account {
	position: relative;
}
.no-account:before {
	content: '';
	height: 1px;
	background: #FFC60B;
	position: absolute;
	left: 0;
	width: 35px;
	top: 50%;
	transform: translateY(-50%);
}
.no-account:after {
	content: '';
	height: 1px;
	background: #FFC60B;
	position: absolute;
	right: 0;
	width: 35px;
	top: 50%;
	transform: translateY(-50%);
}
hr {
	background: #FFC60B;
	height: 1.5px;
	margin: 1rem 0;
}
.grade-info {
	display: flex;
	align-items: flex-end;
}
.grade-info li {
	width: calc(100% / 3);
	text-transform: uppercase;
	cursor:pointer;
	font-size: 1rem;
	text-align: center;
	border-bottom: 1px solid #D6D6D6;
}
.grade-info li.is-active {
	font-weight: 600;
	color: #00AEEF;
	font-size: 1.25rem;
	border-bottom: 3px solid #00AEEF;
}

.table-grade {
	margin-top: 2rem;
}
.table-grade td:first-child {
	width: 50%;
}
.hero-body {
	padding: 3rem 0;
}
.input.is-primary {
	border-color: #FFC60B;
}
.textarea.is-primary {
	border-color: #FFC60B;
}
.input.is-primary:active, .input.is-primary:focus {
	box-shadow: none;
}
.btn-akadQ, .btn-akadQ:hover, .btn-akadQ:active, .btn-akadQ:focus  {
	background: #00AEEF;
	color: #fff;
	border-color: #00AEEF;
}
.btn-akadQ-grey, .btn-akadQ-grey:hover, .btn-akadQ-grey:active, .btn-akadQ-grey:focus  {
	background: #F1F1F1;
	color: #5F6061;
	border-color: #D6D6D6;
}
.btn-akadQ.invert, .btn-akadQ.invert:hover, .btn-akadQ.invert:active, .btn-akadQ.invert:focus  {
	background: #F5F5F5;
	color: #00AEEF;
	border-color: #00AEEF;
}
.btn-akadQ.success, .btn-akadQ.success:hover, .btn-akadQ.success:active, .btn-akadQ.success:focus  {
	background: #18ce04;
	color: #fff;
	border-color: #18ce04;
}
.btn-akadQ.success.disabled {
	pointer-events: none;
	cursor: not-allowed;
	background: #18ce04;
	color: #fff;
	border-color: #18ce04;
}
.btn-fb, .btn-fb:hover  {
	background: #29487D;
	color: #fff;
	border-color: #29487D;
}
.btn-google, .btn-google:hover  {
	background: #fff;
	color: #707070;
	border-color: #fff;
}
.youtube {
	background: black;
	display: flex;
	margin: 0 auto;
	justify-content: center;
	min-height: 250px;
	border-radius: 5px;
}
.flow-save {
	border: 2px solid #FFC60B;
	padding: 1rem;
}
.box-login {
	background: rgba(255, 255, 255, .8);
	padding: 1rem;
	position: absolute;
	z-index: 30;
	width: 300px;
	border-radius: 5px;
	right: 0
}

.loginBtn {
	box-sizing: border-box;
	position: relative;
	/* width: 13em;  - apply for fixed size */
	margin: 0.2em;
	padding: 0 15px 0 46px;
	border: none;
	text-align: left;
	line-height: 34px;
	white-space: nowrap;
	border-radius: 4px;
	color: #FFF;
}
.loginBtn:before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	width: 34px;
	height: 100%;
}
.loginBtn:focus {
	outline: none;
}
.loginBtn:active {
	box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

/* Facebook */
.loginBtn--facebook {
	background-color: #4C69BA;
	background-image: linear-gradient(#4C69BA, #3B55A0);
	/*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
	text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
	border-right: #364e92 1px solid;
	background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') no-repeat;
	background-position: center;
	background-size: 60%;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
	background-color: #5B7BD5;
	background-image: linear-gradient(#5B7BD5, #4864B1);
	color: #fff;
}


/* Google */
.loginBtn--google {
	/*font-family: "Roboto", Roboto, arial, sans-serif;*/
	background: #DD4B39;
}
.loginBtn--google:before {
	border-right: #BB3F30 1px solid;
	background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') no-repeat;
	background-position: center;
	background-size: 60%;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
	background: #E74B37;
	background-image: linear-gradient(#E74B37, #c04333);
	color: #fff;
}

@media screen and (min-width: 1100px) {
	.box-login {
		top: 15px;
	}
}
@media screen and (min-width: 1300px) {
	.box-login {
		top: 28px;
	}
}
@media screen and (min-width: 1400px) {
	.box-login {
		top: 40px;
	}
}
@media screen and (min-width: 1500px) {
	.box-login {
		top: 53px;
	}
}
@media screen and (min-width: 1650px) {
	.box-login {
		top: 83px;
	}
}
@media screen and (min-width: 1750px) {
	.box-login {
		top: 110px;
	}
}
.navbar {
	user-select: none;
}
.no-data-estimasi {
	border: 2px solid #C9C9C9;
	background: #fff;
	min-height: 400px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.text-no-data {
	position: absolute;
}
.benefit-mitra {
	background: #fff;
	border-radius: 5px;
	padding: 1rem;
}
.box-testi {
	background: #fff;
	border-radius: 5px;
	padding: 1rem;
}
.w-250 {
	width: 250px;
}
.w-450 {
	width: 450px;
}
.hero-footer {
	color: #fff;
	padding: 1.5rem
}
.daftar {
	text-decoration: underline;
}
.menu-ternak {
	background: #fff;
	border-radius: 5px;
	width: 250px;
	position: absolute;
	top: 61px;
	z-index: 30;
	right: 0;
	padding: 1rem;
	display: none;
	user-select: none;
}
.menu-ternak:before, .menu-inbox:before, .menu-notif:before {
	content: '';
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid white;
	position: absolute;
	bottom: 100%;
	right: 15px;
}
.menu-akun {
	background: #fff;
	border-radius: 5px;
	width: 200px;
	position: absolute;
	top: 61px;
	z-index: 30;
	right: 0;
	padding: 1rem;
	display: none;
	user-select: none;
}
.menu-akun:before, .menu-akun-inside:before {
	content: '';
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid white;
	position: absolute;
	bottom: 100%;
	right: 15px;
}
.menu-akun li, .menu-akun-inside li {
	padding: .5rem 0;
}
.menu-akun li + li, .menu-akun-inside li + li {
	border-top: 1px solid #D6D6D6;
}
.for-mitra li + li {
	border-top: 1px solid #D6D6D6;	
}
.for-mitra li {
	padding: .5rem 0;
	cursor: pointer;
}
.for-mitra li:hover {
	background: #fafafa;
	font-weight: 500;
}
.req_age {
	color: red;
	font-style: italic;
}
/*end home*/


/*daftar*/
.box-registration {
	background: #f6f6f6;
	padding: 2rem;
}
.eye-pass {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}
/*end daftar*/



/*mitra*/
.right-menu {
	padding: 1.5rem 2rem;
}
.right-menu .top-menu {
	padding: 1.5rem 0;
	height: 50px;
}
.left-menu {
	width: 250px;
	min-height: 100vh;
	height: 100%;
	-webkit-box-shadow: 5px 0px 6px 0px rgba(0,0,0,0.16);
	-moz-box-shadow: 5px 0px 6px 0px rgba(0,0,0,0.16);
	box-shadow: 5px 0px 6px 0px rgba(0,0,0,0.16);
}
.brand-icon {
	padding: 2rem 1rem;
}
.menu-list li.is-active a, .menu-list li.is-active a:hover {
	color: #fff;
	padding: 1rem;
	background: #00AEEF;
	padding-left: .75rem;
}
.menu-list li {
	border-top: 1px solid #00aeef;
}
.menu-list li:first-child {
	border-top: 1px solid #00aeef;
}
.menu-list li:last-child {
	border-bottom: 1px solid #00aeef;
}
.menu-list a svg {
	fill:#4a4a4a;
}
.menu-list a {
	padding: 1em .75em;
	border-radius: 0;
	justify-content: space-between;
	user-select: none;
}
.menu-list a:hover {
	background: #00AEEF;
	color: #fff;
}
.menu-list a:hover svg {
	fill: #fff;
}

.menu-list li ul {
	border-left: 0;
	margin: 0;
	padding: 0;
}
.sub-menus li a{
	background: transparent !important;
	color: #363636 !important; 
	padding-left: 2.5rem !important
}
.sub-menus li:last-child {
	border-bottom: 0;
}
.sub-menus li a:hover{
	background: #eeeeee !important;
	color: #363636 !important; 
}
.sub-menus li:hover {
	background: #eeeeee;
	color: #363636;
}
.label {
	font-weight: 500;
}
.btn-map, .btn-map:hover  {
	background: #fff;
	border-color: #00AEEF;
	color: #00AEEF;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}
.pin-point {
	height: 100px;
	background-image: url('../img/display-map.jpg');
	border-radius: 5px 5px 0 0;
}
.pin-point img {
	border-radius: 5px;
}
.pic-ternak {
	height: 120px;
	border: 1px solid #b5b5b5;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.point-map .modal-card-head {
	border-radius: 0;
	background: #fff;
	padding: 1rem;
}
.point-map .modal-card-body {
	padding: 0;
}
.point-map footer {
	border-radius: 0;
	padding: 10px;
}
.point-map .modal-card {
	width: 500px
}
.point-map .delete {
	background: #00AEEF
}
.pic-hewan {
	border: 1px solid #b5b5b5;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80px;
	cursor: pointer;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	z-index: -1;
}
#file {
	height: 0;
}
.button.disabled {
	cursor: not-allowed;
	pointer-events: none;
	background: #dbdbdb;
	color: #3A3B3E;
	border-color: #dbdbdb;
} 
.sub-mobile a{
	display: block;
	font-weight: 500;
	font-size: 1rem;
	padding: .5rem;
	color: #333
}
/*end mitra*/


/*peternakan*/
.box-ternak {
	padding: .75rem;
	height: 230px
}
.img-ternak img {
	height: 100px;
	object-fit:cover;
}
.top-menu .level-item + .level-item {
	margin-left: 1rem
}
.reason li {
	padding: .75rem;
	cursor: pointer;
}
.reason li:hover {
	background: #fafafa;
	font-weight: 500;
}
.reason li + li{
	border-top: 1px solid #D6D6D6;
}
.detail-farm .modal-card-body {
	padding: 1rem !important;
}
.img-ternak-detail img {
	height: 200px;
	object-fit:cover;
}
.detail-farm .modal-card-head, .box-reason .modal-card-head, .boxDelivered .modal-card-head {
	border-radius: 0;
	background: #fff;
	padding: 1rem;
}
.detail-farm .modal-card-body, .box-reason .modal-card-body, .boxDelivered .modal-card-body {
	padding: 0;
}
.detail-farm .modal-card {
	width: 700px
}
.box-reason .modal-card, .boxDelivered .modal-card {
	width: 400px
}
.box-delivery .modal-card {
	width: 400px
}
.modal button.delete {
	background: #00AEEF
}
.action-button {
	position: absolute;
	bottom: 20px;
	width: 93%;
}
.action-button.two .control {
	width: 50%;
}
.action-button .button {
	background: #00AEEF;
	color: #fff;
	border-color: #fff;
}
.action-button .button.btn-danger, .for-button .button.btn-danger  {
	background: #ef0037;
	color: #fff;
	border-color: #fff;
}
.button.btn-yellow  {
	background: #FFC60B;
	color: #fff;
	border-color: #FFC60B;
}
.action-button .button:hover {
	border-color: #fff;
	z-index: 0 !important;
}
.action-button .button svg{
	fill: #fff;
}
.add-farm {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.location-label-lat {
	background: #f4f4f4;
	font-size: .85rem;
	padding: .5rem;
	font-weight: 300;
	text-align: left;
}
.location-label-add {
	background: #f4f4f4;
	font-size: .85rem;
	padding: .5rem;
	font-weight: 300;
	text-align: left;
	border-radius: 0 0 5px 5px;
	border-top: 1px solid #dbdbdb;
	min-height: 50px;
}
.search-point {
	position: absolute;
	top: 7px;
	width: 82%;
	z-index: 9;
	left: 44%;
	transform: translateX(-50%);
}
.search-point input:focus {
	border: 0;
}
.areaDetail {
	margin-left: .75rem !important;
}
.areaDetail li ul li{
	font-size: .75rem;
}
.areaDetail li {
	font-size: .85rem;
}
.areaPenjualan .is-checkradio[type=checkbox]+label {
	font-size: .85rem;
	padding-left: 2rem;
}
/*end peternakan*/



/*tambah hewan*/
.box-hewan {
	border: 1px solid #dbdbdb;
	padding: .5rem;
}
.img-hewan img {
	height: 170px;
	object-fit: cover;
	width: 100%;
}
.find-detail {
	background: #00AEEF;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	float: right;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.normal-price {
	opacity: .75
}
.disc-price {
	font-weight: 500;
	font-size: 1.15rem;
}
.for-button.two .control {
	width: 50%;
}
.for-button .button {
	background: #00AEEF;
	color: #fff;
	border-color: #fff;
}
.for-button .button:hover {
	border-color: #fff;
	z-index: 0 !important;
}
.for-button .button svg{
	fill: #fff;
}
.jenis-transaksi {
	font-weight: 500;
	margin-left: 1rem
}
.detail-hewan .modal-card-body {
	padding: 1rem !important;
}
.img-ternak-detail img {
	height: 200px;
	object-fit:cover;
}
.detail-hewan .modal-card-head, .box-reason .modal-card-head, .keterangan .modal-card-head, .box-reason2 .modal-card-head, .box-delivery .modal-card-head, .detail-tenor .modal-card-head {
	border-radius: 0;
	background: #fff;
	padding: 1rem;
}
.detail-hewan .modal-card-body, .box-reason .modal-card-body, .box-delivery .modal-card-body {
	padding: 0;
}
.detail-hewan .modal-card, .detail-tenor .modal-card {
	width: 500px
}
.detail-hewan .swiper-slide img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	object-position: top;
}
.last-update {
	font-style: italic;
	font-weight: 500;
	font-size: .75rem;
}
.include {
	position: absolute;
	right: 0;
}
/*end tambah hewan*/



/*transaki anda*/
.img-transaksi img {
	width: 100%;
	height: 80px;
	object-fit: cover;
	object-position: top right;
}
.info-transaksi {
	background: #F8F8F8;
	padding: 1rem;
}
.detail-transaksi {
	padding: 1rem;
}
.more-detail {
	padding: 1rem;
	padding-top: 0;
}
.more-detail .level-item {
	color: #363636;
}
.more-detail .level-item svg {
	fill: #363636;
}
.more-detail .level-item:hover {
	color: #00AEEF;
}
.more-detail .level-item:hover svg{
	fill: #00AEEF ;
}
.box-transaksi + .box-transaksi {
	margin-top: 1rem;
}
/*end transaksi anda*/



/*dashboard*/
.box-dashboard  {
	cursor: pointer;
}
.box-icon-dash {
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.icon-dash {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background: #fff;
	border: 1px solid #00AEEF;
	display: flex;
	align-items: center;
	justify-content: center;
}
.icon-dash svg {
	fill: #fff;	
}
.content-dash {
	height: 70px;
	background: #00AEEF;
	color: #fff;
	text-align: center;
	justify-content: center;
	display: flex;
	align-items: center;
}
.badge-dash {
	position: absolute;
	width: 25px;
	height: 24px;
	background: #FFC60B;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	top: 3px;
	right: 4px;
	color: #363636
}
.badge-dash-top {
	position: absolute;
	width: 15px;
	height: 15px;
	background: #FFC60B;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	top: -2px;
	left: 14px;
	color: #363636;
	font-size: .65rem;
}
.picprofile {
	width: 100px;
}
.picprofile img {
	object-fit: cover;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.for-left {
	position: fixed;
}
.for-right {
	width: calc(100vw - 274px);
	margin-left: 274px;
}

.detail-pembeli .modal-card-body {
	padding: 1rem !important;
}
.detail-pembeli .modal-card-head, .box-reason .modal-card-head, .detail-reminder .modal-card-head, .konfirmasi-klaim .modal-card-head {
	border-radius: 0;
	background: #fff;
	padding: 1rem;
}
.box-reason .modal-card-body {
	padding: 0;
}
.detail-pembeli .modal-card {
	width: 800px
}
.detail-pembeli .swiper-slide img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	object-position: top;
}
.detail-pembeli table td:nth-child(1) {
	width: 30%;
}

/*end dashboard*/



/*summary*/
.table-summary th:nth-child(1) {
	width: 7%
}
.table-summary th:nth-child(2) {
	width: 17%
}
.table-summary th:nth-child(3) {
	width:15%
}
.table-summary th:nth-child(4) {
	width: 10%
}
.table-summary th:nth-child(5) {
	width: 7%
}
.table-summary th:nth-child(6) {
	width: 12%
}
.table-summary th:nth-child(7) {
	width: 15%
}

.table-tabungan th:nth-child(1) {
	width: 7%
}
.table-tabungan th:nth-child(2) {
	width: 25%
}
.table-tabungan th:nth-child(3) {
	width: 15%
}
.table-tabungan th:nth-child(4) {
	width: 10%
}
.table-tabungan th:nth-child(5) {
	width: 12%
}
.table-tabungan th:nth-child(6) {
	width: 15%
}
.table-tabungan th:nth-child(7) {
	width: 15%
}

.table-klaim th:nth-child(1) {
	width: 2%
}
.table-klaim th:nth-child(2) {
	width: 25%
}
.table-klaim th:nth-child(3) {
	width: 25%
}
.table-klaim th:nth-child(4) {
	width: 25%
}


.table thead th {
	border-width: 0 0 2px;
	color: #363636;
	border-color: #00AEEF;
}
.table th, .table td {
	vertical-align: middle;
}
.w-65 {
	width: 65px;
}
.w-100 {
	width: 100px;
}

.table-tunai th:nth-child(1) {
	width: 2%
}
.table-tunai th:nth-child(2) {
	width: 17%
}
.table-tunai th:nth-child(3) {
	width:15%
}
.table-tunai th:nth-child(4) {
	width: 7%
}
.table-tunai th:nth-child(5) {
	width: 10%
}
.table-tunai th:nth-child(6) {
	width: 9%
}

.table-pengiriman th:nth-child(1) {
	width: 2%
}
.table-pengiriman th:nth-child(2) {
	width: 25%
}
.table-pengiriman th:nth-child(3) {
	width:18%
}
.table-pengiriman th:nth-child(4) {
	width: 12%
}
.table-pengiriman th:nth-child(5) {
	width: 13%
}
.table-pengiriman th:nth-child(6) {
	width: 15%
}

.table-pembayaran th:nth-child(1) {
	width: 2%
}
.table-pembayaran th:nth-child(2) {
	width: 26%
}
.table-pembayaran th:nth-child(3) {
	width:17%
}
.table-pembayaran th:nth-child(4) {
	width: 10%
}
.table-pembayaran th:nth-child(5) {
	width: 16%
}
.table-pembayaran th:nth-child(6) {
	width: 12%
}
.table-riwayat th:nth-child(1) {
	width: 2%
}
.table-riwayat th:nth-child(2) {
	width: 29%
}
.table-riwayat th:nth-child(3) {
	width:20%
}
.table-riwayat th:nth-child(4) {
	width: 12%
}
.table-riwayat th:nth-child(5) {
	width: 8%
}
.table-riwayat th:nth-child(6) {
	width: 12%
}
/*end summary*/



/*update hewan*/
.detail-informasi .modal-card-body {
	padding: 0;
	background: transparent;
}
.detail-informasi .delete {
	position: absolute;
	right: -8px;
	top: 28px;
}
.detail-informasi .modal-card {
	width: 900px;
	overflow: visible;
}

.tab-content .swiper-container {
	height: auto;
}
.tab-content .swiper-pagination {
	position: relative ;
}
.table.intro-tenor td {
	border: none;
}
.table.informasi-tenor th {
	background: #00AEEF;
	color: #fff;
	border-width: 0
}
/*end update hewan*/



/*tab*/
ul.tabbing{
	margin: 0px;
	padding: 0px;
	list-style: none;
	display: flex;
}
ul.tabbing li{
	background: #F5F5F5;
	color: #C9C9C9;
	padding: .5rem;
	cursor: pointer;
	border-radius: 5px 5px 0 0;
	user-select: none;
}

ul.tabbing li.current{
	background: #fff;
	color: #00AEEF;
	font-weight: 500;
}

.tab-content{
	display: none;
	background: #fff;
	padding: 1rem;
	min-height: 360px;
}

.tab-content.current{
	display: inherit;
}
/*end tab*/



/*contact us*/
.map-info {
	padding: 1rem;
}
.map-info ul {
	margin-left: 0;
}
.map-info li {
	list-style: none;
}
/*end contact us*/



/*bantuan*/	
.input.helps:hover , .input.helps:focus {
	box-shadow: none;
	border-color: #00aeef;
}
.input.helps {
	border-color: #00aeef;
}
.button.is-info {
	background-color: #00aeef !important;
}
.accordion {
	background-color: transparent;
	color: #4a4a4a;
	cursor: pointer;
	padding: 1rem 0;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: .9rem;
	transition: 0.4s;
	border-bottom: 1px solid #e3e3e3;
}
.accordion:after {
	content: '\002B';
	color: #777;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}
.active:after {
	content: "\2212";
}
.panels {
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}
.panels p, .panels ol {
	padding: 1rem;
	background: #fafafa;
}
/*end bantuan*/


/*pilih program*/
.has-border-blue {
	border-bottom: 2px solid #00aeef;
}
.has-border-grey {
	border-bottom: 2px solid #E0E0E0;
}
.has-border-yellow {
	border-bottom: 2px solid #FFC60B;
}
.program-box {
	border: 1px solid #00aeef;
	border-radius: 5px;
	padding: 1.5rem;
}
.program-box img {
	width: 100px;
}
/*end pilih program*/



/*pilih hewan*/
.title-filter {
	color: #fff;
	padding: 1rem;
}
.box-filter {
	padding: 1rem;
}
.select {
	font-size: .9rem;
}
.btn-filter {
	position: fixed;
    bottom: 0;
    border-radius: 0;
    padding: 1.5rem;

}
.side-bar .modal-card.filter {
	margin: 0
}
/*end pilih hewan*/


/*metode pembayaran*/
.left-metode, .right-metode {
	padding: 1rem;
}
.h-100 {
	height: 100%;
}
.komoditas-detail, .pengiriman-detail {
	height: 110px;
}
.label {
	font-size: .9rem;
}
/*end metode pembayaran*/


/*profile*/
.pic-profile img {
	width: 100%;
	height: 225px;
	object-fit: cover;
	object-position: top center;
}
.content-profile {
	min-height: 193px;
}
.title-profile {
	background: #F7F7F7;
	padding: 1rem;
}
.for-profile td:nth-child(1) {
	width: 20%
}
.for-profile td {
	border: 0;
}
.for-profile td:nth-child(2) {
	width: 1%;
}
/*end profile*/



/*status bayar*/
.hero .tabsku ul {
	border-bottom: 1px solid #dbdbdb;
}
.content-bayar {
	padding: 1rem;
	border-left: 1px solid #dbdbdb;
	border-right: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	min-height: 200px;
}
.ulasan {
	padding: 1rem
}
.rating {
	display: inline-block;
	position: relative;
	height: 50px;
	line-height: 50px;
	font-size: 30px;
}
.rating label {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	cursor: pointer;
}
.rating label:last-child {
	position: static;
}
.rating label:nth-child(1) {
	z-index: 5;
}
.rating label:nth-child(2) {
	z-index: 4;
}
.rating label:nth-child(3) {
	z-index: 3;
}
.rating label:nth-child(4) {
	z-index: 2;
}
.rating label:nth-child(5) {
	z-index: 1;
}
.rating label input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.rating label .icon {
	float: left;
	color: transparent;
}
.rating label:last-child .icon {
	color: #ccc;
}
.rating label input:focus:not(:checked)~.icon:last-child {
	color: #ccc;
	text-shadow: 0 0 5px #09f;
}
.textarea.is-info {
	border-color: #00AEEF;
}
/*end status bayar*/



/* cara bayar */
.box-time {
	padding: 1rem
}
.box-bayar{
	padding: 1rem
}
.showList {
	padding-left: 2rem !important ;
}
/* end cara bayar */
@media only screen and (min-width: 300px) and (max-width: 768px) {
    .hero-body {
        padding: 3rem 1rem
	}
	.buy-now {
		position: absolute;
		right: 7px;
		bottom: 7px;
		background: #FFC60B;
		width: 130px;
		height: 98px;
		border-radius: 0 20px 0 20px;
		color: #363636;
		z-index: 30;
	}
	.buy-now .for-buy {
		font-size: 1.25rem
	}
	.how-to {
		padding: 1rem;
	}
	.display_info {
		padding-left: .75rem
	}
	.for-right {
		width: 100vw;
		margin-left: .75rem;
	}
	.swiper1 {
		overflow: hidden !important;
	}
	.col-netral {
		margin-right: 0	
	}
	.modal-left {
		width: 100vw;
		margin-left: 0;
	}

	.detail-informasi.update .swiper-slide img {
		width: 100%;
		height: 200px;
		object-fit: cover;
		object-position: top;
	}
	.swiper-container.update {
		width: 300px;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}
@media only screen and (min-width: 769px) {
    .buy-now {
		position: absolute;
		right: 0;
		bottom: -60px;
		background: #FFC60B;
		width: 230px;
		height: 170px;
		border-radius: 0 20px 0 20px;
		color: #363636;
		z-index: 30;
	}
	.buy-now .for-buy {
		font-size: 2rem
	}
	.how-to {
		padding: 2rem 0;
	}
	.display_info {
		padding-left: 4rem
	}
	.for-right {
		width: calc(100vw - 274px);
		margin-left: 274px;
	}
	.swiper1 {
		overflow: inherit !important;
	}
	.is-hidden-desktop {
		display: none!important
	}
	.modal-left {
		width: calc(100vw - 250px);
		margin-left: 250px;
	}
	.col-netral {
		margin-right: -.75rem	
	}
	.detail-informasi .swiper-slide img {
		width: 100%;
		height: 200px;
		object-fit: cover;
		object-position: top;
	}
	.swiper-container {
		width: 100%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}

/* sidebar */
.modal.side-bar {
	z-index: 200;
}
.list-bar .media {
	padding: 1.5rem;
}
.list-bar .media + .media {
	margin: 0;
}
.list-bar .media:last-child {
	border-bottom: 1px solid rgba(219, 219, 219, 0.5);
}
.list-bar .mdi {
	color: #0066e6;
	font-weight: 600;
	font-size: 1.5rem;
}
.pe-close {
	font-size: 2rem;
	color: #fff !important;
}
.side-bar .modal-card-head {
	border-bottom: 1px solid #dbdbdb;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background: #00aeef;
	color: #fff;
}
.side-bar .modal-card-title {
	color: #fff;
}
.side-bar .modal-card-body {
	background: #f6f9fc;
}
.side-bar .modal-card {
	margin: 0 0 0 80px;
	max-height: 100vh;
	overflow: auto;
	position: relative;
	width: 100%;
	height: 100vh;
	animation-name: opensidebar;
	animation-duration: 500ms;
}
.side-bar .modal-card.out {
	animation-name: closesidebar;
	animation-duration: 500ms;
	transform: translateX(300px);
}
 @keyframes opensidebar {
 	0% {
 		transform: translateX(300px);
 	}
 	1000% {
 		transform: none;
 	}
 }
  @keyframes closesidebar {
 	0% {
 		transform: none;
 	}
 	1000% {
 		transform: translateX(300px);
 	}
 }



 /* buyer transaksi pembelian */
 .menu-inbox {
	background: #fff;
    border-radius: 5px;
    width: 350px;
    position: absolute;
    top: 36px;
    z-index: 30;
    right: -13px;
    padding: 1rem;
    display: none;
    user-select: none;
}
.menu-notif {
	background: #fff;
    border-radius: 5px;
    width: 350px;
    position: absolute;
    top: 36px;
    z-index: 30;
    right: -13px;
    padding: 1rem;
    display: none;
    user-select: none;
}
.shadow-box-top {
    -webkit-box-shadow: 0px 5px 6px 1px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 5px 6px 1px rgba(0,0,0,0.16);
    box-shadow: 2px 0px 6px 1px rgba(0,0,0,0.16);
}
.menu-akun-inside {
	background: #fff;
	border-radius: 5px;
	width: 200px;
	position: absolute;
	top: 36px;
	z-index: 30;
	right: 0;
	padding: 1rem;
	display: none;
	user-select: none;
}
.for-akun {
	display: flex;
	align-items: center
}